{% import "base.html" as utils %}
{% extends "guac/shared/provider/base_letter_provider.html" %}
{% import "guac/shared/footer.html" as footer with context %}


{% block greeting %}

<p class="letter-info">
	{{ provider.name }}<br/>
	{{ provider.address }}<br/>
{% if provider.address1 %}
	{{ provider.address1 }}<br/>
 {% endif %}
{{ provider.city }}, {{ provider.state }} {{ provider.zip }}
</p>

<p class="letter-info">
	<strong>Member Name:</strong> {{ member.name }}<br /> 
	<strong>Date of Service:</strong> {{ utils.render_date_inline(member.date_service) }}<br /> 
	<strong>Total Billed Amount:</strong> {{ member.bill_amt }}<br /> 
	<strong>Claim #:</strong> {{ member.claim_num }}<br /> 
	<strong>PDR Received Date:</strong> {{ utils.render_date_inline(PDR.received_date) }}<br /> 
	<strong>PDR Case #:</strong> {{ PDR.case_num }}
</p>

 <p class="greeting-date">{{ current_date().strftime("%B %d, %Y") }}</p>


  <p class="greeting-line">Dear Provider:</p>
{% endblock %}
{% block message %}

<p>This correspondence is in response to your request for review of the services listed above. Our records show your request was not submitted within the accepted time frame of {{ provider.num_days }} from the original claim processed date.</p>
<p>Our department will need to determine the presence of good cause for the delay in the submission of your request. Please provide documentation with an explanation to support the cause of untimeliness via mail or fax at:</p>
<p>Clover Health<br />P.O. Box 471<br />Jersey City, NJ 07303<br />Fax: (888) 240-7243</p>
<p class="page-break"></p>
<p>We must receive the documentation within 10 days from the date the initial letter was sent from Clover Health, {{ provider.date_sent }}. If we don't receive it in that time, your case may be dismissed. If you have questions or additional information, please contact Provider Services at (877) 853-8019. We are open 8 am - 5:30 pm EST, Monday - Friday.</p>



  {% include "guac/shared/provider/signature.html" %}
{% endblock %}

{% block footer %}
  {{ footer.render(model_numbers={'en': 'letter identifier'}) }}
{% endblock %}