{% import "base.html" as utils %}
{% extends "guac/shared/provider/base_letter_provider.html" %}
{% import "guac/shared/footer.html" as footer with context %}


{#
Variables used in this page:
facility.name
facility.department
facility.address
recipient.name
member.dob
member.date_start
member.date_end
member.claim_num
member.date_to_receive
#}



{% block greeting %}

<p class="greeting-info">{{ facility.name }}</p>
<p class="greeting-info">{{ facility.department }}</p>
<p class="greeting-info">{{ facility.address }}</p>
 <p class="greeting-date">{{ current_date().strftime("%B %d, %Y") }}</p>
  <p class="greeting-line">{{ _('Dear') }} {{ recipient.name }}:</p>
{% endblock %}



{% block message %}
<p>Clover Health received a claim for services rendered to one of our members. The Utilization Management Department at Clover Health is requesting supporting medical records to determine medical necessity for the service rendered. The details of the received claim can be found below:</p>
<table style="height: 26px;" width="100%">
<tbody>
<tr>
<td style="width: 50%;" valign="top">
<ul>
<li>Patient Name: <br />Date of Birth: {{ utils.render_date_inline(member.dob) }}</li>
<li>Patient Account:</li>
</ul>
</td>
<td style="width: 50%;" valign="top">
<ul>
<li>Facility:</li>
<li>Department:</li>
<li>Date(s) of Service: {{ utils.render_date_inline(member.date_start) }} - {{ utils.render_date_inline(member.date_end) }}</li>
<li>Claim Number: {{ member.claim_num }}</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Please provide copies of any relevant medical records pertaining to the date of service listed above. This includes, but is not limited to, admission orders, lab orders, radiology results, and any clinical review notes by the attending physician. Please fax or mail records to:</p>
<table style="height: 26px;" width="80%" align="center">
<tbody>
<tr>
<td style="width: 50%;" valign="top">
<p><strong>Mail:</strong><br />Clover Health<br />Attn: Claims Medical Review<br />PO Box 471<br />Jersey City, NJ 07303</p>
</td>
<td style="width: 50%;" valign="top">
<p><strong>Fax:</strong> <br />877-429-0514 <br /><a href="mailto:claims@cloverhealth.com ">claims@cloverhealth.com</a></p>
</td>
</tr>
</tbody>
</table>
<p>If we do not receive these medical records by {{ utils.render_date_inline(member.date_to_receive) }}, your claim will be denied for a lack of clinical documentation. You will have the right to request a reconsideration of this denial. Out-of-network providers in particular should know they have 60 days from the date of their remittance notice to request this reconsideration. For in-network providers, please refer to your contract or the Provider Manual for information on the dispute process. If you have any questions about the importance of these medical records for the processing of your claim, please call us at 1-877-853-8019.</p>
  {% include "guac/shared/provider/signature.html" %}
{% endblock %}

{% block footer %}
  {{ footer.render(model_numbers={'en': 'letter identifier'}) }}
{% endblock %}