{% import "base.html" as utils %}
{% extends "guac/shared/provider/base_letter_provider.html" %}
{% import "guac/shared/footer.html" as footer with context %}

{% block message %}


<p>NOTE: Please use the Calibre Family font (13 pts) for this letter. Keep disclaimer is at the bottom of the page. (The bottom of pg 1 if letter is one page or the bottom of pg 2 if letter is 2 pages.)</p>
<p><b>Nulla maximus ullamcorper est, vel egestas ligula volutpat vel:</b></p>
<ul>
	<li>Vestibulum ut viverra urna, efficitur semper libero</li>
	<li>Nunc luctus varius quam, eget condimentum quam tristique </li>
</ul>
<p>Nulla maximus ullamcorper est, vel egestas ligula volutpat vel:</p>
<ol>
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit scelerisque ultrices.</li>
	<li>Pellentesque dapibus hendrerit libero, ut fermentum est finibus eu.</li>
</ol>
<p>Nam feugiat risus et 1-888-555-5555 (TTY 000), 0 am–0 pm EST, 0 vel in sem. Pellentesque dapibus. Fusce ipsum in laoreet lobortis, leo libero rhoncus enim, eu tincidunt magna et justo. </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dui arcu, commodo ut scelerisque sed, viverra vel metus. Praesent pharetra nisi a urna eleifend malesuada. Morbi a maximus massa. Pellentesque pharetra nec eros quis congue. Suspendisse varius felis et erat ullamcorper laoreet. Pellentesque finibus iaculis turpis. Praesent suscipit placerat mauris id placerat.</p>
<p>
Nulla eu pulvinar quam. Sed tristique vehicula velit eu fringilla. Donec finibus, diam ut commodo hendrerit, dolor dolor volutpat arcu, eget ultricies est est sit amet mi. Nullam aliquam quis felis in congue. Donec at mauris quam. Nunc in quam sed augue bibendum tincidunt at nec purus. Duis mattis convallis euismod. Phasellus ut dui non elit rhoncus euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus.
</p>
<p>
Nulla facilisi. Donec tincidunt sagittis tellus nec dapibus. Ut mi neque, varius et condimentum at, congue sed mi. Vestibulum laoreet ex at nisi commodo, vel bibendum libero placerat. Curabitur et lacus vitae metus hendrerit vehicula eget et purus. Mauris bibendum dictum orci, et sollicitudin magna sollicitudin vitae. Cras non massa sed tellus ornare porta posuere at enim. Sed rutrum fermentum porttitor. Integer eu erat congue, ultricies augue vitae, eleifend elit. Maecenas vehicula lacus vel varius aliquet. Aliquam nulla diam, tristique sit amet convallis in, semper lacinia ante. Ut ut vulputate nisl. Suspendisse feugiat convallis est quis feugiat.
</p>
<p>
In molestie nisi non molestie convallis. In nec tristique sem. Donec in tellus nec metus imperdiet efficitur. Mauris eget dignissim arcu. Praesent vehicula arcu magna, id aliquet magna pulvinar id. Nam dictum ipsum lacus, nec vulputate ligula volutpat sit amet. Sed bibendum elementum pharetra. Cras rhoncus odio ac eros ornare ullamcorper. Integer neque dui, dignissim sed nunc id, sollicitudin scelerisque magna. Ut sagittis pellentesque arcu ac varius. Aenean sed sapien ipsum. Nullam ac augue et nisl rhoncus fermentum. Sed auctor metus non tincidunt ornare. Aliquam dapibus quam non mollis efficitur. Fusce viverra velit ac sapien vehicula porta.
</p>
  {% include "guac/shared/provider/signature.html" %}
{% endblock %}

{% block footer %}
  {{ footer.render(model_numbers={'en': 'Footer text here'}) }}
{% endblock %}