{% import "base.html" as utils %}
{% extends "guac/shared/provider/base_letter_provider.html" %}

{% block message %}


<p>NOTE: Please use the Calibre Family font (13 pts) for this letter. Keep disclaimer is at the bottom of the page. (The bottom of pg 1 if letter is one page or the bottom of pg 2 if letter is 2 pages.)</p>
<p><b>Nulla maximus ullamcorper est, vel egestas ligula volutpat vel:</b></p>
<ul>
	<li>Vestibulum ut viverra urna, efficitur semper libero</li>
	<li>Nunc luctus varius quam, eget condimentum quam tristique </li>
</ul>
<p>Nulla maximus ullamcorper est, vel egestas ligula volutpat vel:</p>
<ol>
	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit scelerisque ultrices.</li>
	<li>Pellentesque dapibus hendrerit libero, ut fermentum est finibus eu.</li>
</ol>
<p>Nam feugiat risus et 1-888-555-5555 (TTY 000), 0 am–0 pm EST, 0 vel in sem. Pellentesque dapibus. Fusce ipsum in laoreet lobortis, leo libero rhoncus enim, eu tincidunt magna et justo. </p>

  {% include "guac/shared/provider/signature.html" %}
{% endblock %}

{% block footer %}
  {{ footer.render(model_numbers={'en': 'H5141_PSAppAck File & Use 10/31/2012'}) }}
{% endblock %}

