{% if locale() == "es" %}

  <div class="pdf-page">
    <img class="pdf-attachment page-break-after" src="https://cdn.cloverhealth.com/assets/img/letters/NDN_Span_p1.png"/>
  </div>
    <div class="pdf-page">
    <img class="pdf-attachment page-break-after" src="https://cdn.cloverhealth.com/assets/img/letters/NDN_Span_p2.png"/>
  </div>
    <div class="pdf-page">
    <img class="pdf-attachment page-break-after" src="https://cdn.cloverhealth.com/assets/img/letters/NDN_Span_p3.png"/>
  </div>
    <div class="pdf-page">
    <img class="pdf-attachment" src="https://cdn.cloverhealth.com/assets/img/letters/NDN_Span_p4.png"/>
  </div>


{% else %}


  <div class="pdf-page">
    <img class="pdf-attachment page-break-after" src="https://cdn.cloverhealth.com/assets/img/letters/NDN_Eng_p1.png"/>
  </div>
    <div class="pdf-page">
    <img class="pdf-attachment page-break-after" src="https://cdn.cloverhealth.com/assets/img/letters/NDN_Eng_p2.png"/>
  </div>
    <div class="pdf-page">
    <img class="pdf-attachment page-break-after" src="https://cdn.cloverhealth.com/assets/img/letters/NDN_Eng_p3.png"/>
  </div>
    <div class="pdf-page">
    <img class="pdf-attachment" src="https://cdn.cloverhealth.com/assets/img/letters/NDN_Eng_p4.png"/>
  </div>


{% endif %}