{% import "base.html" as utils %}
{% block ndn %}
    <div class="pdf-page" id="page-1">
      <img class="pdf-attachment-margin" src="{{ _('https://cdn.cloverhealth.com/assets/img/letters/NDN_Eng_p1.png') }}" />
    </div>
    <div class="pdf-page" id="page-2">
      <img class="pdf-attachment-margin" src="{{ _('https://cdn.cloverhealth.com/assets/img/letters/NDN_Eng_p2.png') }}" />
    </div>
    <div class="pdf-page" id="page-3">
      <img class="pdf-attachment-margin" src="{{ _('https://cdn.cloverhealth.com/assets/img/letters/NDN_Eng_p3.png') }}" />
    </div>
    <div class="pdf-page" id="page-4">
      <img class="pdf-attachment-margin" src="{{ _('https://cdn.cloverhealth.com/assets/img/letters/NDN_Eng_p4.png') }}" />
    </div>
{% endblock %}
