{%- macro render(model_numbers = {}, include_default_footer = True, include_language = True) -%}
<footer class="disable-split">
  {% if include_default_footer %}
    <div class="footer-text">{{ _("Clover Health is a Preferred Provider Organization (PPO) plan and a Health Maintenance Organization (HMO) plan with a Medicare contract. Enrollment in Clover Health depends on contract renewal. This information is not a complete description of benefits. Call 1-888-657-1207 (TTY 711) for more information.") }}</div>
  {% endif %}

  {% set model_number = model_numbers[language] or ( model_numbers["en"] or "" ) %}
  <div class="model-number">
    {{- model_number | trim -}}
    {% if include_language %}
      &nbsp;- {{ language }}
    {% endif %}
  </div>
</footer>
{% endmacro %}
