{%- macro render_text_block(block) -%}
  {% for para in split_lines(block) %}
    <p>{{ para | trim }}</p>
  {% endfor %}
{% endmacro %}

{%- macro render_text_inline(line, trailing_period=False, trim=True) -%}
  {{- prepare_inline_text(line, trailing_period, trim) -}}
{% endmacro %}

{%- macro render_date_inline(line, trailing_period=False, trim=True) -%}
  {{- prepare_inline_date(line, trailing_period, trim) -}}
{% endmacro %}

{% macro render_checkbox(checked=false) %}
<span class="checkbox">
  {{- "☒" if checked else "☐" -}}
</span>
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <style type="text/css">
        {% include "base.css" %}
        {% block additional_css %}{% endblock %}
      </style>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  </head>
  <body>
    <div class="document">
      <div class="page vertical-flexbox">
        <div class="page-content">
	       <div class="logo">
          {% block logo %}{% endblock %}
	       </div>
	       <div class="greeting">
          {% block member_and_case_info %}{% endblock %}
          {% block greeting %}{% endblock %}
	       </div>
          <div class="message-content">
            {% block header %}{% endblock %}
            {% block message %}{% endblock %}
            {% block disclaimer %}{% endblock %}
            
          </div>
        </div>
 {% block footer %}{% endblock %}
      </div>

    </div>
    {% block pdf_attachments %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js" integrity="sha256-1O3BtOwnPyyRzOszK6P+gqaRoXHV6JXj8HkjZmPYhCI=" crossorigin="anonymous"></script>
    <script id="page-template" type="text/x-handlebars-template">
      <div class="page vertical-flexbox">
        <div class="page-content">
          {{ self.header() }}
          <div class="message-content">
            {% raw %}
            {{{content}}}
            {% endraw %}
          </div>
        </div>
      </div>
    </script>
    <script type="text/javascript">
      {% //include "pagination.js" %}
    </script>
  </body>
</html>
