*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 8.5in;
  margin: 0;
  padding: 0;
  font-family: Calibre, "Times New Roman", monospace;  /* monospace is ONLY for catching missing Helvetica. */
  font-size: 13pt;
}
.vertical-flexbox {
  /* The version of QT that wkhtmltopdf uses doesn't support flexbox yet
    so we're forced to use this nonstandard stuff.

    Adapted from https://github.com/wkhtmltopdf/wkhtmltopdf/issues/1522
  */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
}
.horizontal-flexbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
}
table {
  width: 100%;
}
footer {
  width: 100%;
  margin-top: 0.25in;
}
.model-number {
  margin-top: 10px;
}
/*
.page {
  page-break-after: always;
  width: 7.5in;
  height: 10in;
  left: 1in;
  top: 1in;
  position: relative;
  border: 0;
}

.header-logo {
  width: 165px;
}
.header-logo svg {
  width: 300px;
  height: 100px;
}
*/
.pdf-page, .pdf-attachment {
  width: 8.5in;
  height: 10.98in;
  margin: 0;
  padding: 0;
}

.pdf-attachment-margin {
  width: 7.9in;
  height: auto;
  margin: 0;
  padding: 0.3in;
}

.clover-mailing-address {
  text-align: center;
  white-space: nowrap;
}
.clover-mailing-address span {
  display: inline-block;
  text-align: left;
}
.member-case-info {
  width: 100%;
}
.member-case-info td {
  width: 50%;
  text-align: left;
}
ul.checkboxes {
   list-style-type: none;
   list-style-position: outside;
}
ul.checkboxes li {
  margin-bottom: 1em;
}
ul.checkboxes li .checkbox{
  font-size: 24pt;
  float: left;
  margin-left: -1.2em;
  margin-top: -3pt;
}
hr {
  background-color: black;
  border: none;
  color: black;
  height: 0.25em;
}
.spaced-prior-auth-member-info{
  border-collapse: separate;
  border-spacing: 0.5em;
}
.disable-wrap {
  white-space: nowrap;
}
.footer-page {
  position: absolute;
  right: 0;
}


/********* added by Two Cups *********/
.page {
    page-break-after: always;
    width: 7in;
    height: 10.5in;
    left: .75in;
    top: .25in;
    position: relative;
}

.page-content {
	position: relative;   
	 width: 7in;
	 	height:100%;
	min-height:100%;
	 display: flex;
  flex-flow: column;
  height: 100%;
	}

.logo {
  position: relative;
  flex: 0 1 auto;
  }
.greeting {
  position: relative;
  flex: 1 1 auto;
  }
  .message-content{
  flex: 2 1 auto;
    position: relative;
    width: 100%;
    /*height: 100%;*/
}
#disclaimer {
    position: absolute;
    background-color: white;
    height: 150px;
    bottom: 0px;
       color: #999;
    border-top: 1px solid #999;
	}
.greeting .greeting-date {line-height: 2em;}
.greeting .greeting-line {    margin-bottom: 13pt;margin-top: 26pt;}
.header-logo {
  width: 300px;
}
.header-logo svg {
  width: 300px;
}