{% import "base.html" as utils %}
{% extends "guac/shared/customer/base_letter_customer.html" %}
{% import "guac/shared/footer.html" as footer with context %}


{% block member_and_case_info %}
{% include "guac/shared/Clover_address_block.html" %}

  {% include "guac/shared/customer/greeting_info_requested.html" %}
{% endblock %}
{% block greeting %}
 {% include "guac/shared/greeting.html" %}
{% endblock %}

{% block message %}

  <p>{{ _("On %(date)s, we received a pre-authorization request regarding %(service_description)s, which was submitted on your behalf by %(rep_name)s.",
          date=utils.render_date_inline(prior_auth.received_datetime),
          service_description=utils.render_text_inline(values.service_description),
          rep_name=utils.render_text_inline(values.representative_name) ) }}</p>

  <p>{{ _("In compliance with the Centers for Medicare and Medicaid (CMS) guidelines, we will not be able to proceed with this pre-authorization unless we receive documentation appointing %(rep_name)s as your representative. We have enclosed an Appointment of Representative (AOR) Form for your convenience. The Appointment of Representative (AOR) form must be dated and signed by both you and %(rep_name)s to be valid.",
          rep_name=utils.render_text_inline(values.representative_name) ) }}</p>

  <p>{{ _("In the case where a member is incapacitated or legally incompetent, legal documentation such as a court-ordered guardianship or conservatorship, durable power of attorney, or healthcare power of attorney should be submitted.") }}</p>

  <p>{{ _("You may return the form and/or legal appointment of representative documentation either via facsimile at") }} (732) 412-4317 {{ _("or mail at:") }}</p>
  <p style="padding-left: 60px;">Clover Health<br /> Attention: Utilization Management PO BOX 471<br /> Jersey City, NJ 07303-9919</p>

  <p>{{ _("We value your membership with Clover Health and look forward to continuing to service your medical needs.") }}</p>


  {% include "guac/shared/customer/signature.html" %}
{% endblock %}

{% block footer %}
    {{ footer.render(model_numbers={'en': 'H5141_UM_AORCoverLtr1_EN', 'es': 'H5141_UM_AORCoverLtr1_ESP'}) }}

{% endblock %}
{% block pdf_attachments %}
  <div class="pdf-page">
    <img class="pdf-attachment page-break-after" src="https://cdn.cloverhealth.com/filer_public/24/1d/241d6e72-0ab3-4bb3-bda1-6fffc2847e1c/aor_cover_letter_for_mailing_p1.png"/>
  </div>
  <div class="pdf-page">
    <img class="pdf-attachment" src="https://cdn.cloverhealth.com/filer_public/f1/41/f141e395-f8f2-4e2e-b81a-3aa09b136510/aor_cover_letter_for_mailing_p2.png"/>
  </div>

{% endblock %}