{% import "base.html" as utils %}
{% extends "guac/shared/member/base_letter_member.html" %}
{% import "guac/shared/footer.html" as footer with context %}


{% block member_and_case_info %}
{% include "guac/shared/Clover_address_block.html" %}

  {% include "guac/shared/member/greeting_info_requested.html" %}
{% endblock %}
{% block greeting %}
 {% include "guac/shared/greeting.html" %}
{% endblock %}

{% block message %}

  <p>{{ _("On %(date)s, we received a pre-authorization request regarding %(service_description)s, which was submitted on your behalf by %(rep_name)s.",
          date=utils.render_date_inline(prior_auth.received_datetime),
          service_description=utils.render_text_inline(values.service_description),
          rep_name=utils.render_text_inline(values.representative_name)) }}</p>


{% if use_large_font() %}
  <p>{{ _("I am writing to follow up on the letter we sent you on %(previous_aor_date)s. In compliance with the Centers for Medicare and Medicaid (CMS) guidelines, we will not be able to proceed with this pre-authorization unless we receive documentation appointing %(rep_name)s as your representative.",
	  rep_name=utils.render_text_inline(values.representative_name),
	  previous_aor_date=utils.render_date_inline(values.previous_aor_date)) }} </p><p class='page-break'></p>
	  <p> {{ _(" We have enclosed an Appointment of Representative (AOR) Form for your convenience. The Appointment of Representative (AOR) form must be dated and signed by both you and %(rep_name)s to be valid.",
          rep_name=utils.render_text_inline(values.representative_name)) }}</p>


	{% else %}
	
	  <p>{{ _("I am writing to follow up on the letter we sent you on %(previous_aor_date)s. In compliance with the Centers for Medicare and Medicaid (CMS) guidelines, we will not be able to proceed with this pre-authorization unless we receive documentation appointing %(rep_name)s as your representative. We have enclosed an Appointment of Representative (AOR) Form for your convenience. The Appointment of Representative (AOR) form must be dated and signed by both you and %(rep_name)s to be valid.",
          previous_aor_date=utils.render_date_inline(values.previous_aor_date),
          rep_name=utils.render_text_inline(values.representative_name)) }}</p>
          
    {% endif %}      
          

  <p>{{ _("In the case where a member is incapacitated or legally incompetent, legal documentation such as a court-ordered guardianship or conservatorship, durable power of attorney, or healthcare power of attorney should be submitted.") }}</p>

	
  <p>{{ _("As of today, our records show that you have not submitted documentation appointing %(rep_name)s as your representative.  In accordance with CMS guidelines, we are extending the timeframe for submitting this documentation by an additional 14 calendar days. If we do not receive the appropriate documentation by %(dismissal_date)s, we will dismiss your pre-authorization request.",
    rep_name=utils.render_text_inline(values.representative_name),
    dismissal_date=utils.render_date_inline(values.dismissal_date)) }}</p>
     
     {% if not use_large_font() %}
      <p class='page-break'></p>
{% endif %}

{% if use_large_font() and locale() =="es" %}
<p class='page-break'></p>
	{% endif %}
	
  <p>{{ _("You may return the form and/or legal appointment of representative documentation either via facsimile at") }} (732) 412-4317 {{ _("or mail at:") }}</p>

  <p class="no-top-space" style="padding-left: 60px;">Clover Health<br /> Attention: Utilization Management PO BOX 471<br /> Jersey City, NJ 07303-9919</p>


{% if use_large_font() and locale() =="en" %}
<p class='page-break'></p>
	{% endif %}

  <p>{{ _("We value your membership with Clover Health and look forward to continuing to service your medical needs.") }}</p>


  {% include "guac/shared/member/signature.html" %}
{% endblock %}

{% block footer %}
    {{ footer.render(model_numbers={'en': 'H5141_UM_AORCoverLtr2_EN', 'es': 'H5141_UM_AORCoverLtr2_ESP'}) }}

{% endblock %}
{% block pdf_attachments %}

  
{% include "guac/shared/ndn.html" %}



{% endblock %}