{% import "base.html" as utils %}
{% extends "guac/shared/member/base_letter_member.html" %}
{% import "guac/shared/footer.html" as footer with context %}


{% block member_and_case_info %}
{% include "guac/shared/Clover_address_block.html" %}
  {% include "guac/shared/member/greeting_info_requested.html" %}
{% endblock %}

{% block greeting %}
 {% include "guac/shared/greeting.html" %}
{% endblock %}


{% block message %}

{% include "guac/shared/member/notice_of_denied_expedite_or_extension_letter.html" %}
{% include "guac/shared/member/signature.html" %}
{% endblock %}

{% block footer %}
	{{ footer.render(model_numbers={'en': 'H5141_NotRightEGX_EN', 'es': 'H5141_NotRightEGX_ESP'}) }}
{% endblock %}
{% block pdf_attachments %}
{% include "guac/shared/ndn.html" %}

{% endblock %}