{% import "base.html" as utils %}
{% extends "guac/shared/customer/base_letter_customer.html" %}
{% import "guac/shared/footer.html" as footer with context %}


{% block member_and_case_info %}
{% include "guac/shared/Clover_address_block.html" %}
<h1 class="page-title" style="text-align: center;">{{ _('Detailed Explanation of Non-Coverage') }}</h1>


 <p style="text-align: center; font-weight: bold">
      {{ _('Important:  This notice is to inform you of the service request which you submitted to Clover on %(received)s in reference to the request for payment of %(description)s that was denied.',
           received=utils.render_date_inline(prior_auth.received_datetime),
           description=utils.render_text_inline(values.service_description)) }}
    </p>


  {% include "guac/shared/customer/greeting_info_patient.html" %}
{% endblock %}


{% block greeting %}
 {% include "guac/shared/greeting.html" %}
{% endblock %}


{% block message %}

<p><strong>{{ _('Your request was denied.') }} </strong>{{ _("After completing our review, we've %(verb)s the medical services/items listed below requested by you or your doctor/provider:",
         verb=prior_auth.member_denial_determination.lower()) }}</p>
   
    {% if use_large_font() %}
		<span class='page-break'></span>
	{% endif %}

    <p style="margin-left:35px" >
    {{ service_type }} {% if prior_auth.description != None %}{{ prior_auth.description }}{% endif %}
          {% for procedure in prior_auth.procedures %}
            {% if not procedure.is_deleted %}
              <ul style="margin-left:35px;" class="disable-split">
                <li>{{ procedure.code }} {{ procedure.code.description }}</li>
                  <ul>
                      <li>{{ _("Units:") }} {{ procedure.requested_units }} 
                      		{% if procedure.modifiers != None %} {{ _("Modifiers:") }} {{ procedure.modifiers }} {% endif %}
                      </li>
                  </ul>
              </ul>
            {% endif %}
          {% endfor %}
    </p>

	
     
<p><strong>{{ _("Why did we deny your request?") }}</strong><br/>
		{{ _('Based upon the clinical information provided, the request for payment of %(service_description)s is denied because:',
         service_description=utils.render_text_inline(values.service_description)) }}<br/>
         <span style="white-space: pre-line">{{ values.denial_rationale }}</span>
</p>

		<span class='page-break'></span>

<p><strong> {{ _("What if I don't agree with this decision?") }}</strong><br/>
	    {{ _('As a contracted provider, your rights to dispute the decision above are defined in your contract with Clover. If you have any questions or concerns, you may contact Provider Services at <span class="disable-wrap"><b>1-877-853-8019</b></span> for more information.') }}
	</p>

<p>{{ _("Respectfully,") }}</p>
<p>{{ utils.render_text_inline(values.medical_director.label) }}, {{ _('Medical Director') }}</p>

{% endblock %}

{% block footer %}
    {{ footer.render(model_numbers={'en': 'H5141_NDCS_EN', 'es': 'H5141_NDCS_ES'}) }}

{% endblock %}

{% block pdf_attachments %}
{% include "guac/shared/ndn.html" %}

{% endblock %}