{% import "base.html" as utils %}
{% extends "guac/shared/provider/base_letter_provider.html" %}
{% import "guac/shared/footer.html" as footer with context %}


{% block greeting %}


<p><strong>{{ values.recipient_name }}</strong><br/>
    <strong>{{ values.department }}</strong><br/>
    {{ values.recipient_street_1 }}<br/>
    {{ _('%(city)s, %(state)s %(zip)s',
          city=utils.render_text_inline(values.recipient_city),
          state=utils.render_text_inline(values.recipient_state),
          zip=utils.render_text_inline(values.recipient_zip)
    )}}
</p>

 <p class="greeting-date">{{ current_date().strftime("%B %d, %Y") }}</p>
  <p class="greeting-line">{{ _('Dear') }} {{ provider.recipient }}:</p>

{% endblock %}



{% block message %}
<p>Clover Health received a claim for services rendered to one of our members. The Utilization Management Department at Clover Health is requesting supporting medical records to determine medical necessity for the service rendered. The details of the received claim can be found below:</p>

<p class="no-bottom-space">Clover Health received a claim for services rendered to one of our members. The Utilization Management Department at Clover Health is requesting supporting medical records to complete a readmission review.
	
	
		{% if use_large_font() %}
		The details of the received claim can be found on the following page:</p><p class='page-break'></p> 
		
		{% else %}
		The details of the received claim can be found below:
	{% endif %}
	
		
	

<table style="" width="100%">
<tbody>
<tr>
<td style="width: 40%;" valign="top">
<ul style="list-style: none;">
<li><strong>Patient Name:</strong> {{ member.name }}</li>
<li><strong>Date of Birth:</strong> {{ utils.render_date_inline(member.dob) }}</li>
<li><strong>Patient Account:</strong> {{ member.account }}</li>
</ul>
</td>
<td  valign="top">
<ul style="list-style: none;">
<li><strong>Facility:</strong> {{ member.facility }}</li>
<li><strong>Department:</strong> {{ member.dept }}</li>
<li><strong>Date(s) of Service:</strong> {{ utils.render_date_inline(member.service_start) }} - {{ utils.render_date_inline(member.service_end) }}</li>
<li><strong>Claim Number:</strong> {{ member.claim_num }}</li>
</ul>
</td>
</tr>
</tbody>
</table>

<p class="no-top-space no-bottom-space">Please provide copies of any relevant medical records pertaining to the date of service listed above as well as, the member's previous admission on {{ utils.render_date_inline(values.prev_admit_date) }}. This includes, but is not limited to, admission orders, lab orders, radiology results, and any clinical review notes by the attending physician. 
	 {% if values.additional_info %}
      {{ _('%(additional_info)s Please fax or mail records to:',
           additional_info=values.additional_info)}}
    {% else %}
      {{ _(' Please fax or mail records to:')}}
    {% endif %}
	</p>
<table style="" width="80%" align="center">
<tbody>
<tr>
<td style="width: 50%;" valign="top">
<p><strong>Mail:</strong><br />Clover Health<br />Attn: Claims Medical Review<br />PO Box 471<br />Jersey City, NJ 07303</p>
</td>
<td style="width: 50%;" valign="top">
<p><strong>Fax:</strong> <br />877-429-0514 <br /><a href="mailto:claims@cloverhealth.com ">claims@cloverhealth.com</a></p>
</td>
</tr>
</tbody>
</table>

<p>If we do not receive these medical records by {{ utils.render_date_inline(values.records_due_date) }}, your claim will be denied for a lack of clinical documentation. You will have the right to request a reconsideration of this denial. Out-of-network providers in particular should know they have 60 days from the date of their remittance notice to request this reconsideration.</p>
<p> For in-network providers, please refer to your contract or the Provider Manual for information on the dispute process. If you have any questions about the importance of these medical records for the processing of your claim, please call us at 1-877-853-8019.</p>



  {% include "guac/shared/provider/signature.html" %}
{% endblock %}

{% block footer %}
  {{ footer.render(model_numbers={'en': 'missing letter identifier'}) }}
{% endblock %}
